.player-wrapper {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    z-index: 10000;
    position: relative;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.logo-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    margin-top: 27px;
    cursor: pointer;
    z-index: 100000;
}

.logo-size {
    font-size: 28px;

}


.float-icon-top {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 30px;
    background: black;
    z-index: 1000000;
    padding-left: 30px;

}

.mediator {
    font-size: 35px;
    opacity: 0.5;
}

.close-icon {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
}

.max-icon {
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
}

.min-icon {
    display: none;
    cursor: pointer;
}

.hover-green {
    color: white;
    cursor: pointer;
}

.hover-green:hover {
    color: lightgreen !important;
}

.video-title {
    position: absolute;
    top: 0;
    transform: translate(5%);
    font-size: 20px;
    margin-top: 30px;
}


.float-center-controls {
    z-index: 100000;
    position: absolute;
    transform: translate(5%);
}

.sec-parent {
    position: relative;
}

.sec-child {
    font-size: 15px;
    position: absolute;
    top: 9px;
    left: 9px;
}



.player {
    width: 100vw;
    height: 100vh;
}


.float-bottom-controls {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    bottom: 0;
    padding: 20px;
    /* margin: 10px; */
    z-index: 100000;
}


.progress-bar {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 7px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    /* iOS */
}

.progress-bar::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 40px;
    background: black;
    box-shadow: -100vw 0 0 100vw #00C851;
}

.progress-bar::-webkit-slider-thumb:hover {
    background: rgb(48, 56, 56);
}

.progress-bar::-moz-range-track {
    height: 40px;
    background: #ddd;
}

.progress-bar::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #00C851;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

.progress-bar::-ms-fill-lower {
    background: dodgerblue;
}

.progress-bar::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

.progress-bar::-ms-ticks-after {
    display: none;
}

.progress-bar::-ms-ticks-before {
    display: none;
}

.progress-bar::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

.progress-bar::-ms-tooltip {
    display: none;
}


.volume-progress {
    z-index: 100000;
    margin-right: 20px;
    margin-left: 10px;
    position: absolute;
    top: 10%;
    right: 0;
    -webkit-appearance: none;
    overflow: hidden;
    height: 7px;
    cursor: pointer;
    border-radius: 5px;
    /* iOS */
}

.volume-progress::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
.volume-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 40px;
    background: black;
    box-shadow: -100vw 0 0 100vw #00C851;
}

.volume-progress::-webkit-slider-thumb:hover {
    background: rgb(48, 56, 56);
}

.volume-progress::-moz-range-track {
    height: 40px;
    background: #ddd;
}

.volume-progress::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #00C851;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

.volume-progress::-ms-fill-lower {
    background: dodgerblue;
}

.volume-progress::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

.volume-progress::-ms-ticks-after {
    display: none;
}

.volume-progress::-ms-ticks-before {
    display: none;
}

.volume-progress::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

.volume-progress::-ms-tooltip {
    display: none;
}



.progress-text {
    font-size: 12px;
    margin: 5px;
    padding: 5px;
}

.progress-splitter {
    opacity: 0.5;
}


.vjs-fade-out {
    display: block;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: visibility 1.5s, opacity 1.5s;
    -moz-transition: visibility 1.5s, opacity 1.5s;
    -ms-transition: visibility 1.5s, opacity 1.5s;
    -o-transition: visibility 1.5s, opacity 1.5s;
    transition: visibility 1.5s, opacity 1.5s;

    /* Wait a moment before fading out the control bar */
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
}

.hide-cursor {
    cursor: none;
}


@media only screen and (max-width: 800px) {
    .video-title {
        position: absolute;
        top: 0;
        left: 10%;
        font-size: 14px;
        margin-top: 30px;
    }
}